<article>
  <hgroup>
    <h1>ID: <%= @content.id %></h1>
    <% if @content.parent %>
      <h3>in reply to: <%= link_to @content.parent.text, @content.parent %></h3>
    <% end %>
  </hgroup>
  <p><%= @content.text %></p>
  <section id="replies">
    <h4><%= I18n.t('.replies') %></h4>
    <% if @content.children %>
      <%= render @content.children %>
    <% else %>
      <p><%= I18n.t('.no_replies') %></p>
    <% end %>
  <footer>
    <%= render 'manage_content' %>
  </footer>
</article>