<h2><%= I18n.t('.sign_up').capitalize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label I18n.t('.email').to_sym %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label I18n.t('.password').to_sym %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label I18n.t('.password_confirmation').to_sym %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
