<h1 xmlns="http://www.w3.org/1999/html"><%= I18n.t('.user_profile') %></h1>
<%= @user.email %>
<%= link_to I18n.t('.change_your_password'), edit_user_registration_path %>
<%= link_to I18n.t('.add_content'), new_content_path %>

<section id="content">
  <p><table>
    <% @contents.each do |content| %>
      <tr>
        <%= render :partial => "contents/show", :locals => { :content => content } %>
      </tr>
    <% end %>
  </table></p>
</section>
