<p>Hello <%= @resource.email %>!</p>

<p><%= I18n.t('.change_password_someone') %></p>

<p><%= link_to I18n.t('.change_my_password'), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%= I18n.t('.change_password_if') %></p>
<p><%= I18n.t('.change_password_your') %></p>
