<!DOCTYPE html>
<html>
<head>
  <title>Fiskregn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <aside>
    <%= render :partial => "home/account_status" %>
  </aside>
  <% [:info, :error, :notice].each do |key| %>
    <% if flash[key] %>
    <div class="<%= key %>" id="flash">
      <%= flash[key] %>
    </div>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
